<div class="logo">
  <a href=<%= req.baseUrl %>><img src="/images/logo.png" class="logo" /></a>
</div>
<ul class="nav-menu medieval-text">
  <% if (!req.session.User) { %>
    <li class="nav-item"><a class="medieval-text" href="/login">Login</a></li>
    <li class="nav-item"><a class="medieval-text" href="/firstaccess">Primeiro Acesso</a></li>
  <% } else { %>
    <li class="nav-item"><a href="/profile">Bem Vindo, <%= req.session.User.nome %>!</a></li>
    <li class="nav-item"><a href="/add">Cadastrar Fantasia</a></li>
    <li class="nav-item"><a href="/adduser">Cadastrar Usuário</a></li>
    <li class="nav-item"><a href="/userlist">Lista de Usuários</a></li>
    <li class="nav-item"><a href="/logout">Logout</a></li>
  <% } %>
</ul>