<!-- Medieval Sharp Font -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp" />

<nav>
  <% include ../partials/navbar %>
</nav>

<div class="medieval-text sub-title">
  <h1>Nova Fantasia</h1>
</div>
<div class="form-box">
  <form class="medieval-text" action="/add" method="post" enctype="multipart/form-data">
    <label class="add-label">Nome da Fantasia: </label>
    <input type="text" name="nome" placeHolder="Nome da Fantasia" size="50" /><br>

    <label class="add-label">Preço: </label>
    <input type="text" name="preco" placeHolder="Preço" size="50" /><br>
    
    <label class="add-label">Quantidade: </label>
    <input type="text" name="quantidade" placeHolder="Quantidade" size="50" /><br>
    
    <label style="font-size:25px">Peças: </label><br>
    <label class="add-label">Chapéu: </label>
    <input type="text" name="chapeu" placeHolder="Descrição do Chapéu" size="50" /><br>
    
    <label class="add-label">Parte de Cima: </label>
    <input type="text" name="parteCima" placeHolder="Descrição da Parte de Cima" size="50" /><br>
    
    <label class="add-label">Parte de Baixo: </label>
    <input type="text" name="parteBaixo" placeHolder="Descrição da Parte de Baixo" size="50" /><br>
    
    <label class="add-label">Braços: </label>
    <input type="text" name="bracos" placeHolder="Descrição dos Braços" size="50" /><br>
    
    <label class="add-label">Pernas: </label>
    <input type="text" name="pernas" placeHolder="Descrição das Pernas" size="50" /><br>
    
    <label class="add-label">Foto da Fantasia: </label>
    <input type="file" name="imagem" /><br>
    
    <input type="submit" value="Adicionar Fantasia" style="margin-top:20px; margin-left:19vw" />
  </form>
</div>

<% include ../partials/footer %>