<!-- W3.CSS by W3Schools -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Medieval Sharp Font -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp" />

<% include ../partials/error %>

<div id="principal" class="w3-display-container" style="width:100vw; height:100vh; overflow:hidden">
  <img src="/images/background.png" class="w3-image" style="width:100%; height:100%" />

  <div class="w3-display-topmiddle w3-container">
    <h1 style="font-family:MedievalSharp; font-size:56px; color:#eaea00; text-shadow:1px 1px #a5a500;">Chameleon Fantasies</h1>
  </div>

  <div class="w3-display-middle w3-container">
    <a class="w3-display-topmiddle" href="/all">
      <img src="/images/cave.png" title="Explorar a Caverna" alt="Explorar a Caverna" style="width:25vw; height:40vh">
    </a>
  </div>
</div>